body {

    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #272932;
    color: #E7ECEF;
    
}

#pageInfo {

    padding-top: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #272932;
    padding-bottom: 10px;
    color: white;
}

#pageInfo .button {
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: red;
	opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: red;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
	color: red;
  }

#search-input {
    color: white;
    text-align: center;
}

#medalButton {
    background-color: #0F7173;
}

#editorButton {
    background-color: black;
}

#returnButton {
    background-color: #0F7173;
}

