#divOne {

    text-align: center;
    font-family: Arial, sans-serif;
}

#returnButton {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
#returnButton {
    background-color: black;
}